Language: Cpp
Standard: Auto
DisableFormat: false

AccessModifierOffset: -1
AlignAfterOpenBracket: Align
# AlignArrayOfStructures: Right
AlignConsecutiveAssignments: true
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
AlignTrailingComments: true

AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false

AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: Yes

BinPackArguments: true
BinPackParameters: true
# BitFieldColonSpacing: Both

BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach
# BreakBeforeConceptDeclarations: true
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakStringLiterals: true

ColumnLimit: 120
CompactNamespaces: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true

DeriveLineEnding: false
DerivePointerAlignment: false
# EmptyLineAfterAccessModifier: Never
# EmptyLineBeforeAccessModifier: Always

FixNamespaceComments: true
IncludeBlocks: Preserve

# IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: false
IndentExternBlock: NoIndent
IndentGotoLabels: false
IndentPPDirectives: BeforeHash
# IndentRequires: false
IndentWidth: 4
IndentWrappedFunctionNames: false

# InsertTrailingCommas: Wrapped
KeepEmptyLinesAtTheStartOfBlocks: false
# LambdaBodyIndentation: Signature

MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
# PackConstructorInitializers: true
PointerAlignment: Left
# QualifierAlignment: Left

# ReferenceAlignment: Left
ReflowComments: false
# RemoveBracesLLVM: false
# SeparateDefinitionBlocks: Always
# ShortNamespaceLines: 0
SortIncludes: true
SortUsingDeclarations: true

SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
# SpaceAroundPointerQualifiers: Default

SpaceBeforeAssignmentOperators: true
# SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
# SpaceBeforeParensOptions:
#   AfterControlStatements: true
#   AfterForeachMacros: true
#   AfterFunctionDeclarationName: false
#   AfterFunctionDefinitionName: false
#   AfterIfMacros: true
#   AfterOverloadedOperator: false
#   # AfterPlacementOperator: false
#   # AfterRequiresInClause: false
#   # AfterRequiresInExpression: false
#   BeforeNonEmptyParentheses: false
SpaceBeforeParens: ControlStatements
# SpaceBeforeRangeBasedForLoopColon: true
# SpaceBeforeSquareBrackets: false

SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2

SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
# SpacesInLineCommentPrefix:
#   Minimum: 1
#   Maximum: -1
SpacesInParentheses: false
SpacesInSquareBrackets: false

TabWidth: 4
UseCRLF: false
UseTab: Never
